<a href="https://colab.research.google.com/github/claudiopb/Curso-Fundamentos-de-desarrollo-de-software-en-un-entorno-virtual-en-la-nube/blob/main/practica12082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desarrollar software de sistemas informáticos.

## Módulo I Desarrolla software de sistemas informáticos.

#### Sub-módulo 3.

**Implementar software de sistemas informáticos.**

#### Actividad clave de la competencia laboral.

**Ejecuta prueba de software en ambiente productivo.**

#### Desarrollo de la competencia
1. Configura el entorno productivo
para ejecución del software de
instalación; atendiendo las
instrucciones de su jefe inmediato,
empleando una comunicación
asertiva y colaborando con el
equipo de trabajo.

Configurar el entorno de ejecución para:

*  Visualizar una imagen 2d con formato de imagen (jpg, png)
*  Cargar un archivo desde un medio de almacenamiento persistente.

<p>
<img src="https://drive.google.com/uc?id=1LURfMlsdhMObUx_29pG7c6vB60jwjo-2"
height="380px" width="350px"
alt="Tipos de datos."/>
</p>

<p>
<img src="https://drive.google.com/uc?id=1487YdLJDXXP68TK2Hux94n90Ba4jam-N"
height="380px" width="350px"
alt="Tipos de datos."/>
</p>

https://drive.google.com/file/d/1487YdLJDXXP68TK2Hux94n90Ba4jam-N/view?usp=sharing

https://drive.google.com/uc?id=1487YdLJDXXP68TK2Hux94n90Ba4jam-N

Para insertar una imagen almacenada en Google Drive en una celda de Colab usando HTML, no puedes usar la ruta de archivo local como en el caso de Python o Markdown. En su lugar, debes usar el ID del archivo y crear un enlace público para que la imagen sea visible.

Sigue estos pasos:

Haz la imagen pública:

En Google Drive, haz clic derecho en la imagen que quieres insertar.

Selecciona "Compartir" y luego "Compartir" de nuevo.

Cambia la configuración de acceso de "Restringido" a "Cualquier persona con el enlace".

Haz clic en "Copiar enlace" y luego en "Listo".

Extrae el ID del archivo:

El enlace que copiaste se verá similar a https://drive.google.com/file/d/1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p/view?usp=sharing.

El ID de tu archivo es la parte de la URL que está entre /d/ y /view. En este ejemplo, el ID sería 1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p.

Crea el código HTML:

En una celda de texto de Colab, usa la siguiente estructura HTML:

HTML

<img src="https://drive.google.com/uc?id=TU_ID_DE_IMAGEN" />
Reemplaza TU_ID_DE_IMAGEN con el ID que obtuviste en el paso anterior. Por ejemplo:

HTML

<img src="https://drive.google.com/uc?id=1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p" />
Cuando ejecutes la celda, la imagen se mostrará.

In [ ]:
"""testEjecución.py    Muestra la  """

print("Hola Mundo...!")

Hola Mundo...!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Import pandas library
import pandas as pd

# Read the file into gross
#csvFile = "/content/drive/MyDrive/IntroduccionEstadisticaPython/InteractivePYthonNoteBook/DisneyMoviesBoxOfficeSuccess/disney_movies_total_gross.csv"
csvFile = "/content/drive/MyDrive/Funddesoftwarevirtual/Archivos/disney_movies_total_gross.csv"
gross = pd.read_csv(csvFile,parse_dates=["release_date"])

# Print out gross
gross.head(50)

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
5,"20,000 Leagues Under the Sea",1954-12-23,Adventure,NaN,28200000,528279994
6,Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515
7,Sleeping Beauty,1959-01-29,Drama,NaN,9464608,21505832
8,101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
9,The Absent Minded Professor,1961-03-16,Comedy,NaN,25381407,310094574
10,Babes in Toyland,1961-12-14,Musical,G,10218316,124841160
11,Bon Voyage!,1962-05-17,Comedy,Not Rated,9230769,109581646
12,The Sword in the Stone,1963-12-25,Adventure,NaN,22182353,153870834
13,The Jungle Book,1967-10-18,Musical,Not Rated,141843000,789612346
14,Blackbeard's Ghost,1968-02-08,Comedy,NaN,21540050,138612686
15,The Aristocats,1970-04-24,Musical,G,55675257,255161499
16,The Boatniks,1970-07-01,Comedy,NaN,18607492,101200742
17,Bedknobs and Broomsticks,1971-10-07,Musical,NaN,17871174,91305448
18,The Apple Dumpling Gang,1975-07-01,Comedy,NaN,31916500,131246872
19,Freaky Friday,1977-01-21,Comedy,NaN,25942000,98067733
20,The Many Adventures of Winnie the Pooh,1977-03-11,NaN,NaN,0,0
21,The Rescuers,1977-06-22,Adventure,NaN,48775599,159743914
22,Herbie Goes to Monte Carlo,1977-06-24,NaN,NaN,28000000,105847527
23,The Black Hole,1979-12-21,NaN,NaN,35841901,120377374
24,Midnight Madness,1980-02-08,NaN,NaN,2900000,9088096
25,The Last Flight of Noah’s Ark,1980-06-25,NaN,NaN,11000000,34472116
26,The Devil and Max Devlin,1981-01-01,NaN,NaN,16000000,48517980
27,Amy,1981-03-20,Drama,NaN,0,0
28,The Fox and the Hound,1981-07-10,Comedy,NaN,43899231,133118889
29,Condorman,1981-08-07,Action,NaN,0,0
30,Night Crossing,1982-02-05,Drama,NaN,4500000,12903059
31,Tron,1982-07-09,Action,NaN,26918576,77184895
32,Tex,1982-11-19,Drama,NaN,7199408,20643199
33,Trenchcoat,1983-03-11,Comedy,NaN,4304286,11519089
34,Something Wicked This Way Comes,1983-04-29,Horror,NaN,5656087,15136765
35,Never Cry Wolf,1983-10-07,Drama,NaN,27668764,70669955
36,Running Brave,1983-11-04,Drama,NaN,1204595,3223725
37,Splash,1984-03-09,Comedy,PG,62599495,157057661
38,Country,1984-09-29,Drama,NaN,8400000,21075000
39,Baby: Secret of the Lost Legend,1985-03-22,Adventure,NaN,14276095,33900697
40,Return to Oz,1985-06-21,Adventure,NaN,10618813,25215934
41,The Black Cauldron,1985-07-24,Adventure,NaN,21288692,50553142
42,My Science Project,1985-08-09,Comedy,NaN,4100000,9736051
43,The Journey of Natty Gann,1985-09-27,Drama,NaN,9468512,22302956
44,One Magic Christmas,1985-11-22,Drama,NaN,13229514,31415432
45,Down and Out in Beverly Hills,1986-01-31,Comedy,R,62134225,141183693
46,Off Beat,1986-04-11,Comedy,NaN,4842778,11003932
47,Ruthless People,1986-06-27,Comedy,R,71624879,162748712
48,The Great Mouse Detective,1986-07-02,Adventure,NaN,23605534,53637367
49,Flight of the Navigator,1986-07-30,Adventure,NaN,18564613,42183197

In [ ]:
gross.tail(10)

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
569,Captain America: Civil War,2016-05-06,Action,PG-13,408084349,408084349
570,Alice Through the Looking Glass,2016-05-27,Adventure,PG,77042381,77042381
571,Finding Dory,2016-06-17,Adventure,PG,486295561,486295561
572,The BFG,2016-07-01,Adventure,PG,55483770,55483770
573,Pete’s Dragon,2016-08-12,Adventure,PG,76233151,76233151
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936